.root {
  background-size: 400%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.subHeading {
  font-size: 24px;
  color: #272727;
  font-weight: 800;
  line-height: 1.166em;
  text-transform: uppercase;
}

.list {
  & > li {
    gap: 10px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .root {
    background-size: 200%;
  }
}

@media (min-width: 768px) {
  .root {
    background-size: cover;
  }
}

.threeMoto {
  gap: 4px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 991px) {
  .threeMoto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "f1 f2"
      "f3 f3";
  }

  .threeMoto > .threeMotoCard:nth-child(1) {
    grid-area: f1;
  }

  .threeMoto > .threeMotoCard:nth-child(2) {
    grid-area: f2;
  }

  .threeMoto > .threeMotoCard:nth-child(3) {
    grid-area: f3;
  }
}

@media (max-width: 575px) {
  .threeMoto {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "f1"
      "f2"
      "f3";
  }
}
