.root {
  background-size: 400%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  & > div:nth-child(1) {
    & > section > div:nth-child(1) {
      & > i,
      & > p {
        color: #fff !important;
      }
    }
  }

  @media (min-width: 576px) {
    background-size: 200%;
  }

  @media (min-width: 768px) {
    background-size: cover;
  }
}
