.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;

  width: 100%;
  height: var(--topbarHeightDesktop);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #fff;
  background: none;
  background-color: transparent;

  transform: translateY(58%);
  transition: background-color 0.3s ease;
}

.navbarScrolled {
  color: #000;
  background-color: var(--bg-primary-light);
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 9px 0px;
}
