.others,
.quickLinks {
  & > li {
    margin-bottom: 16px;
  }

  & > li::before {
    content: "~";
    margin-right: 16px;
    position: relative;

    font-size: 25px;
    font-weight: 400;
    color: var(--bg-secondary);
    font-family: "Poppins", sans-serif;
  }
}

.socialIcon {
  & > li > a {
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media (max-width: 767px) {
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 9999px;
      background-color: var(--bg-primary-dark);

      &:hover {
        background-color: var(--bg-secondary);
      }
    }
  }
}
